#root{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
 /* background-color:#FFC1B4;*/
 background-color: #F5F5F5;
}

.playfair-display{
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  
}
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.nunito{
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}


.mainSection{
  flex-grow: 1;
  
}

.seccion1{
 /* background-color: #034c53;
background-image: linear-gradient(160deg, #034c53 0%, #007074 100%);*/
background-color: #4A6572;
background-image: linear-gradient(160deg, #4A6572 83%, #A8C3B9 100%);


 border-radius: 30px;
 height: 100%;
 margin: 0px;
 padding-bottom: 20px;
 
}
#pf{
  scroll-margin-top: 160px;
}

.btn-contacto{
  border: none;
  border-radius: 30px;
  width:200px;
  height: 50px;
  color: #333333 ;
  /*background-color: rgb(13, 137, 122);*/
  background-color: #AFCBFF;
}
@media (min-height: 680px){
  .btn-contacto{
    margin-bottom: 10px;
  }
}

.imagen{
  width: 300px;
  border-radius: 10px;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.3);
}
.sobremi{
  display: flex;
 align-items: center;
 justify-content: center;
 
}
.beneficios{
  border: solid 1px #5f7571;
  border-radius: 10px;
  height: 165px;
}
footer{
  font-size: 10px;
  color: #A8C3B9;
}
